/*** checkbox.css v1 ***/
:host {
   --color: var(--m-checkbox-color, var(--m-primary));
   --inner-color: var(--m-checkbox-inner-color, var(--m-on-primary));

   display: inline-block;
   background: var(--m-surface-container-high);
   width: 30px;
   height: 30px;
   border-radius: 10px;
   vertical-align: middle;
   position: relative;
   user-select: none;
   cursor: pointer;
   transition-property: background, scale, opacity;
   transition-duration: 0.3s;
}

:host::before,
:host::after {
   content: '';
   display: block;
   position: absolute;
   width: 4px;
   border-radius: 5px;
   background: var(--m-background);
   transition-property: background, left, top, height, rotate;
   transition-duration: 0.3s;
}

:host::before {
   top: 5px;
   left: 13px;
   height: 20px;
   rotate: 45deg;
}

:host::after {
   top: 5px;
   left: 13px;
   height: 20px;
   rotate: -45deg;
}

:host([checked]) {
   background: var(--color);
}

:host([checked])::before,
:host([checked])::after {
   background: var(--inner-color);
}

:host([checked])::before {
   top: 13px;
   left: 10px;
   height: 10px;
   rotate: -30deg;
}

:host([checked])::after {
   top: 6.5px;
   left: 15.5px;
   height: 17px;
   rotate: 30deg;
}

:host([disabled]) {
   opacity: 0.5;
   cursor: not-allowed;
   pointer-events: none;
}

:host(:active) {
   scale: 0.9;
   opacity: 0.5;
}