/*** Marshmallow.less Alpha ***/

// style 
@import "style/color";
@import "style/radius";
@import "style/font-size";

// component
@import "component/m-btn";

// default 
body{
   background: @background;
   color: @on-background;
   transition: 0.3s;
}