/*** app.css v1 ***/
:host {
   --color: var(--m-app-color, var(--m-background));
   --inner-color: var(--m-app-inner-color, var(--m-on-background));
   
   display: block;
   position: relative;
   width: 100vw;
   height: 100vh;
   overflow: auto;
   box-sizing: border-box;
   background: var(--color);
   color: var(--inner-color);
}