/*** app.css v1 ***/
:host {
   --color: var(--m-app-color, var(--m-primary));
   --ineer-color: var(--m-app-ineer-color, var(--m-on-primary));
   
   display: block;
   position: relative;
   width: 100vw;
   height: 100vh;
   overflow: auto;
   box-sizing: border-box;
   background: var(--color);
   color: var(--color);
}