/*** button.css v1 ***/
:host {
   --color: var(--m-button-color, var(--m-primary));
   --inner-color: var(--m-button-inner-color, var(--m-on-primary));
   --m-shadow: var(--m-button-shadow, none);
   --m-radius: var(--m-button-radius, 16px);
   
   display: inline-flex;
   justify-content: center;
   align-items: center;
   padding: 8px 20px;
   gap: 8px;
   background: var(-color);
   color: var(--inner-color);
   height: 40px;
   box-sizing: border-box;
   border-radius: var(--radius);
   border: none;
   user-select: none;
   cursor: pointer;
   vertical-align: middle;
   font-size: 16px;
   font-weight: 700;
   white-space: normal;
   box-shadow: var(--shadow);
   transition-property: scale, opacity;
   transition-duration: 0.3s;
}

:host([outline]) {
   background: transparent;
   border: 2px solid var(--color);
   color: var(--color);
}

:host([text]) {
   background: transparent;
   color: var(--color);
}

:host([size="small"]) {
   padding: 0 15px;
   gap: 6px;
   --radius: 12px;
   font-size: 14px;
   height: 30px;
}

:host([size="large"]) {
   padding: 0 30px;
   gap: 12px;
   --radius: 24px;
   font-size: 20px;
   height: 60px
}

:host([disabled]) {
   opacity: 0.5;
   cursor: not-allowed;
   pointer-events: none;
}

:host([full]) {
   display: flex;
}

:host(:active) {
   scale: 0.9;
   opacity: 0.5;
}