/*** hr.css v1 ***/
:host{
   --color: var(--m-hr-color, var(--m-surface-container-high));
   --type: var(--m-hr-type, solid);
   --size: var(--m-hr-size, 2px);
   
   display: block;
   width: 100%;
   height: 0;
   padding: 8px 0;
   border-top: var(--color) var(--type) var(--size);
}