/*** icon.css v1 ***/
:host {
   --m-icon-size: 2em;
   --m-icon-color: currentColor;
   display:inline-block;
   width: var(--m-icon-size);
   height: var(--m-icon-size);
}

:host svg{
   width: 100%;
   height: 100%;
}