/*** icon.css v1 ***/
:host {
   --size: var(--m-icon-size, 2em);
   --color: var(--m-icon-color, currentColor);
   
   display:inline-block;
   width: var(--size);
   height: var(--size);
}

:host svg{
   width: 100%;
   height: 100%;
}