/*** title.css v1 ***/

:host {
   --color: var(--m-title-color, currentColor);
   --align: var(--m-title-align, auto);
   --size: var(--m-title-size, 28px);
   --weight: var(--m-title-weight, 700);
}

:host slot {
   display: block;
   color: var(--color);
   font-size: var(--size);
   font-weight: var(--weight);
   text-align: var(--align);
   margin: 0;
   padding: 14px;
   box-sizing: border-box;
}